@page "{Id?}"
@model App.UI.Pages.product.listModel
@{
    Layout = "/Pages/Shared/DashboardLayout.cshtml";
}

<hesd>
    <link href="~/css/search.css" rel="stylesheet" />
</hesd>
<div class="d-flex justify-content-between flex-wrap">

    <div>
        <a asp-page="Add"><input type="button" class="btn btn-out-dashed btn-primary ml-2 " value="Add New Product"></a>
    </div>


    <div class="dropdown mr-2">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Category
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @foreach (var item in Model.Categories)
            {
                <a class="dropdown-item" href="/product/list/@item.Id">@item.Name</a>
            }
        </div>
    </div>

</div>



<br>
<br />

<!-- Hover table card start -->
<div class="card">
    <div class="card-header">
        <h5>Products</h5>

        <div class="card-header-right">
            <form method="post">
                <div class="input-group">
                    <input type="text" name="productname" class="form-control" placeholder="Search this blog">
                    <div class="input-group-append">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Url</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Category Name</th>
                        <th>Photo</th>
                        <th>Display Order</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model.Products)
                    {
                        <tr>

                            <th scope="row">@i</th>
                            <td>@item.Url</td>
                            <td>@item.Title</td>
                            <td>@item.Price.ToString("###,##")</td>
                            <td>@item.Category.Name</td>
                            <td><img src="/product-photo/@item.Photo" alt="Product Photo" style="width:100px;height:150px;" /></td>
                            <td>@item.DisplayOrder</td>
                            <td>@item.IsActive</td>
                            <td><a asp-page="edit" asp-route-Id="@item.Id"><input type="button" class="btn btn-success" value="Edit" /></a></td>
                            <td><a asp-page="delete" asp-route-Id="@item.Id"><input type="button" class="btn btn-danger" value="delete" /></a></td>


                            @{i++;}
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{





}
