@page
@model App.UI.Pages.product.listModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@{
    Layout = "/Pages/Shared/DashboardLayout.cshtml";
}
<div class="d-flex justify-content-between flex-wrap">
    <div>
        <a asp-page="Add"><input type="button" class="btn btn-out-dashed btn-primary ml-2 " value="Add New Product"></a>
    </div>



    <div class="input-group w-auto">
        <div class="input-group-prepend ">
            <label class="input-group-text" for="inputGroupSelect01"></label>
        </div>
        <select class="custom-select background-primary" id="inputGroupSelect01">
            <option selected>Choose...</option>
            @foreach (var item in Model.Categories)
            {
                <option value=@item.Id>@item.Name</option>
            }
        </select>
    </div>
</div>
  


<br>
<br />

<!-- Hover table card start -->
<div class="card">
    <div class="card-header">
        <h5>Products</h5>

        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Url</th>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Photo</th>
                        <th>Display Order</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model.Products)
                    {
                        <tr>

                            <th scope="row">@i</th>
                            <td>@item.Url</td>
                            <td>@item.Title</td>
                            <td>@item.Category.Name</td>
                            <td><img src="/product-photo/@item.Photo" alt="Product Photo" style="width:100px;height:150px;" /></td>
                            <td>@item.DisplayOrder</td>
                            <td>@item.IsActive</td>
                            <td><a asp-page="edit" asp-route-Id="@item.Id"><input type="button" class="btn btn-success" value="Edit" /></a></td>
                            <td><a asp-page="delete" asp-route-Id="@item.Id"><input type="button" class="btn btn-danger" value="delete" /></a></td>


                            @{i++;}
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>



