@page
@model App.UI.Pages.Category.ListModel
@{
    Layout = "/Pages/Shared/DashboardLayout.cshtml";
}
<a asp-page="Add"><input type="button" class="btn btn-out-dashed btn-primary ml-2 " value="Add New Category"></a>

<br><br />

<!-- Hover table card start -->
<div class="card">
    <div class="card-header">
        <h5>Categories</h5>
       
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Display Order</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model.Categories)
                    {
                    <tr>

                        <th scope="row">@i</th>
                        <td>@item.Name</td>
                        <td><img src="/category-photos/@item.Photo" alt="artical Photo" style="width:170px;height:170px;" /></td>
                        <td>@item.DisplayOrder</td>
                        <td>@item.IsActive</td>
                        <td><a asp-page="edit" asp-route-Id="@item.Id" ><input type="button" class="btn btn-success" value="Edit" /></a></td>
                        <td><a asp-page="delete" asp-route-Id="@item.Id" ><input type="button" class="btn btn-danger" value="delete" /></a></td>
                        

                        @{i++;}
                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Hover table card end -->